@font-face {
    font-family: exo2;
    src: url(../font/Exo2-VariableFont_wght.ttf);
}

* {
    font-family: exo2, Arial, Helvetica, sans-serif;
}

.lecteur {
    border-radius: 15px;
}

/* body{
    height: 100vh;
} */

nav {
        border-bottom: orange 1px solid !important;
}

nav > div > .titre {
    font-size: 1.5em;
    color: orange;
    font-weight: bold;
}

.recherche {
    font-size: 1.2em !important;
    transition: all 0.3s ease;
}

.recherche:focus {
    color: var(--secondary) !important;
    box-shadow: 0 0 5px #ff5733 !important;
    /* Effet lumineux autour */
    border-color: var(--secondary) !important;
    transition: all 0.3s ease;
}

.search-list:hover {
    background-color: var(--secondary);
    opacity: 0.9;
    cursor: pointer;
}

::placeholder {
    color: var(--secondary) !important;
    opacity: 0.7 !important;
}

.success {
    color: #037103;
    opacity: 1;
    animation: fade 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.error {
    color: red;
}

@keyframes fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.liste:hover{
    background-color: orange !important;
    transition: all 0.3s ease;
}

.scale-text {
    display: inline-block;
    transition: transform 0.3s ease;
}

.scale-text:hover {
    transform: scale(1.1);
}